*{
    margin: 0;
    box-sizing: border-box;
    color: whitesmoke;
}

header{
 background-color:rgba(9, 33, 42, 1);
 padding: 20px;
}

nav{
    margin-left: 140px;
}


main{
    background-color: rgba(6, 23, 30, 1);
    flex-direction: column;
    height: calc(100vh - 96px);
    overflow-y: auto;
    justify-content: space-between;
}


footer{
background-image: url(img/footer.svg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
