*{
    margin: 0;
    box-sizing: border-box;
    color: var(--font_color);
     font-family: "Figtree", sans-serif;
}

:root{
--bg_darkblue_dark: rgba(6, 23, 30, 1);
--bg_darkblue_light:rgba(9, 33, 42, 1);
--bg_blue_dark:rgba(18, 70, 88, 1);
--bg_blue_light:rgba(107, 193, 225, 1);
--font_color:whitesmoke;

}
body{
    background-color:var(--bg_darkblue_dark);
}

.fotogram-header{
 background-color:var(--bg_darkblue_light);
 padding: 20px;
}

nav{
    margin-left: 140px;
    
}


main{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 185px);
    overflow-y: auto;
    gap: 80px;
    padding-left: 140px;
    padding-right: 140px;
   
   
}

h1{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 56px;
}



#image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:50px 16px;
    
    
}
.gallery-image{
    height:150px;
    width:150px;
    border-radius: 16px;
    justify-content: center;
    transition: all 0.5s;
    border: 2px solid var(--bg_blue_dark);

}

.gallery-image:hover{
transform: scale(1.1);
border: 2px solid var(--bg_blue_light);

}

.open-Image{
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 620px;
    align-items: center;
    gap: 48px;
    padding: 56px 64px 56px 64px;
    border: none;
    border-radius: 40px;
    background-color: var(--bg_darkblue_dark);
}
.openGallery-header{
    display: flex;
   gap: 250px;

}

 .close-btn{
   background: none;
    border:none ;
    border-radius: 50% ;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
 }
.close-btn:hover{
    background-color:rgba(18, 70, 88, 1);
}



.fotogram-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    height: 100px;
    background-image: url(img/footer.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    gap: 10px;
}
.fotogram-footer span{
font-size: 12px;
color: rgba(98, 123, 132, 1);
}

.da-logo{
    height: 32px;
    width: auto;

}

