*{
    margin: 0;
    box-sizing: border-box;
    color: var(--font_color);
     font-family: "Figtree", sans-serif;
}

:root{
--bg_darkblue_dark: rgba(6, 23, 30, 1);
--bg_darkblue_light:rgba(9, 33, 42, 1);
--bg_blue_dark:rgba(18, 70, 88, 1);
--bg_blue_light:rgba(107, 193, 225, 1);
--font_color:whitesmoke;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color:var(--bg_darkblue_dark);
    max-width: 1440px;
}

.fotogram-header{
 background-color:var(--bg_darkblue_light);
 padding: 20px;
}

.nav-logo{
    padding-left: 140px;
    
}


main{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 185px);
    overflow-y: auto;
    gap: 80px;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 100px;
   
}

h1{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 56px;
}



#image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:50px 16px;
    
    
    
}
.gallery-image{
    height:150px;
    width:150px;
    border-radius: 16px;
    justify-content: center;
    transition: all 0.5s;
    border: 2px solid var(--bg_blue_dark);
    object-fit: cover;
}

.gallery-image:hover{
transform: scale(1.1);
border: 2px solid var(--bg_blue_light);

}

.open-Image{
    display: flex;
    flex-direction: column;
    height: 688px;
    width: 675px;
    align-items: center;
    gap: 48px;
    padding: 54px 62px 54px 62px;
    border: none;
    border-radius: 40px;
    background-color: var(--bg_darkblue_dark);
    margin: auto;
}
.openGallery-header{
    display: flex;
    gap: 360px;

}

.open-gallery-image {
    width: 550px;
    height: 360px;
    object-fit: cover;
    
}
 .openGallery-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
 }

 .close-btn{
   background: none;
    border:none ;
    border-radius: 50% ;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
 }
.close-btn:hover{
    background-color:rgba(18, 70, 88, 1);
}



.next-button{
     background: none;
    border:none ;
    border-radius: 50% ;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color:rgb(31, 30,35);
    cursor: pointer;
}

.next-button:hover{
    background-color:rgb(55, 37,40) ;
}

.fotogram-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    height: 100px;
    background-image: url(img/footer.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    gap: 10px;
}
.fotogram-footer span{
font-size: 12px;
color: rgba(98, 123, 132, 1);
}

.da-logo{
    height: 32px;
    width: auto;

}


@media(max-width: 1000px){

h1{
    
    font-size: 48px;
    text-align: center;
     padding-left: 30px;
    padding-right: 30px;
}
 main{
    padding-left: 120px;
    padding-right: 120px;
}  
}

@media(max-width: 640px){

.fotogram-footer{

height: 120px;

}
.open-Image{
    height: 664px;
    width: 343px;
    gap: 48px;
    padding: 16px 16px 16px 16px;
  
}
.open-gallery-image {
    width: 300px;
    height: 375px;
    
    
}
.openGallery-header{
    display: flex;
   flex-direction: column-reverse;
    gap: 10px;
   align-items: end;
   justify-content: center;
}

main{
    padding-left: 20px;
    padding-right: 20px;
}

@media(max-width: 600px){
   
    .nav-logo img{
        width: 168px;
        height: 32px;

    }

    .fotogram-header{
 display: flex;
 justify-content: center;
 align-items: center;
}
.nav-logo{
    padding-left: 0;
}


h1{
    margin-top: 40px;
    font-size: 48px;
    text-align: center;
     padding-left: 20px;
    padding-right: 20px;
}

main{
    padding-left: 20px;
    padding-right: 20px;
}
#image{
gap: 20px;
margin-bottom: 70px;
}


@media(max-width: 372px){
    .open-gallery-image {
    width: 270px;
    height: 375px;
    }
    .fotogram-footer{
    background-image: url(img/Subtract.svg);
    height: 120px;
    }

}
}
}