body{
 margin: 0;
}

header{
 background-color:rgba(9, 33, 42, 1);
 padding: 20px;
}

footer{
background-image: url(img/footer.svg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;

}

nav{
    margin-left: 140px;
}