*{
    margin: 0;
    box-sizing: border-box;
    color: whitesmoke;
     font-family: "Figtree", sans-serif;
}
body{
    background-color: rgba(6, 23, 30, 1);
}

header{
 background-color:rgba(9, 33, 42, 1);
 padding: 20px;
}

nav{
    margin-left: 140px;
}


main{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 185px);
    overflow-y: auto;
    gap: 80px;
    padding-left: 140px;
    padding-right: 140px;
    margin-bottom: 50px;
}

h1{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 56px;
}



#image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:50px 16px;
    
    
}
.gallery-image{
    height:150px;
    width:150px;
    border-radius: 16px;
    justify-content: center;
    transition: all 0.5s;
    border: 2px solid rgba(18, 70, 88, 1);

}

.gallery-image:hover{
transform: scale(1.1)

}

.fotogram-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    height: 100px;
    background-image: url(img/footer.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.da-logo{
    height: 32px;
    width: auto;
}